<div class="navbar-custom">
  <div class="topbar container-fluid">
    <div class="d-flex align-items-center gap-1">
      <!-- Topbar Brand Logo -->
      <div class="logo-topbar p-0">
        <app-logo [where]="'topbar'" />
      </div>

      <!-- Sidebar Menu Toggle Button -->
      <button (click)="sidebarToggle()" class="button-toggle-menu">
        <i class="mdi mdi-menu"></i>
      </button>

      <span class="d-flex align-items-center">
        <span class="badge bg-danger rotate"> alpha </span>
        <span class="fw-bold fs-4 text-truncate">Attica Digital Twins</span>
      </span>
    </div>

    <ul class="topbar-menu d-flex align-items-center gap-3">
      <li>
        <a class="nav-link" (click)="saveMap()">
          <i class="ri-camera-line font-22"></i>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          data-bs-toggle="offcanvas"
          href="#theme-settings-offcanvas"
        >
          <i class="ri-settings-3-line font-22"></i>
        </a>
      </li>
      @if(loggedIn$ | async) {
      <app-user-dropdown
        [email]="email$ | async"
        [name]="name$ | async"
        [photoUrl]="photoUrl$ | async"
        (signOut)="signOut()"
      ></app-user-dropdown>
      } @else {
      <li>
        <a class="nav-link">
          <asl-google-signin-button type="icon" size="large">
          </asl-google-signin-button
        ></a>
      </li>
      }
    </ul>
  </div>
</div>
